repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

repos:
  - repo: https://github.com/psf/black
    rev: 23.9.1            # pin to a released tag
    hooks:
      - id: black
        language_version: python3.11   # match your environment
